aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.13.3
altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
APScheduler==3.10.4
async-timeout==4.0.3
attrs==23.2.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
bottle==0.13.2
bottle-websocket==0.2.9
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.0
certifi==2024.6.2
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
contourpy==1.3.0
cryptography==43.0.3
cssselect==1.2.0
cssselect2==0.7.0
cx_Freeze==7.2.3
cx_Logging==3.2.1
cycler==0.12.1
dataclasses-json==0.6.7
distro==1.9.0
ebaysdk==2.2.0
Eel==0.17.0
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fake-useragent==1.5.1
filelock==3.16.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.54.1
fpdf==1.7.2
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gevent==24.10.3
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.1
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyboard==0.13.5
kiwisolver==1.4.7
langchain==0.3.4
langchain-community==0.3.3
langchain-core==0.3.12
langchain-ollama==0.2.0
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
langsmith==0.1.137
lief==0.15.1
lxml==5.3.0
lxml_html_clean==0.3.1
Mako==1.3.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.0
matplotlib==3.9.2
mdurl==0.1.2
MouseInfo==0.1.3
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.10.0
numpy==1.26.4
ollama==0.3.3
openai==1.52.2
openpyxl==3.1.3
orjson==3.10.10
outcome==1.3.0.post0
packaging==24.0
pandas==1.5.3
parse==1.20.2
pefile==2023.2.7
pillow==10.4.0
plyer==2.1.0
propcache==0.2.0
protobuf==5.28.3
pyarrow==17.0.0
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydeck==0.9.1
pydyf==0.11.0
pyee==11.1.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyMsgBox==1.0.9
pyparsing==3.2.0
pyperclip==1.9.0
pyphen==0.15.0
pyppeteer==2.0.0
pyquery==2.0.1
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytweening==1.2.0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.9.11
reportlab==4.2.5
requests==2.32.3
requests-html==0.10.0
requests-toolbelt==1.0.0
rich==13.9.3
rpds-py==0.20.0
safetensors==0.4.5
schedule==1.2.2
scikit-learn==1.5.2
scipy==1.13.1
selenium==4.26.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.36
streamlit==1.39.0
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.20.1
toml==0.10.2
tomli==2.0.2
tornado==6.4.1
tqdm==4.66.5
transformers==4.46.0
trio==0.25.1
trio-websocket==0.11.1
ttkbootstrap==1.10.1
typing-inspect==0.9.0
typing_extensions==4.12.1
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.20
w3lib==2.2.1
watchdog==5.0.3
weasyprint==63.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.4
whichcraft==0.6.1
wsproto==1.2.0
WTForms==3.2.1
yarl==1.16.0
zipp==3.19.2
zope.event==5.0
zope.interface==7.1.0
zopfli==0.2.3.post1
